{% extends "advertisement/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 10px; 
            border: 1px solid lightgray; 
            margin: 10px;">
            We provide this advertisement platform to post your ads to reach othes people around the globe. You can sell your products or post your required products at ease!! sounds great right?! go ahead and register in our site and start posting your ads.
    </div>
{% endblock content %}  